#nav-item > .nav-item > .pad-left{
    padding-right: 40px;
}
#shopping_cart{
    position: absolute;
    left: 96%;
    top: 7%
}
#add_button{
    position: absolute;
    top: 65px;
    margin-left: 35%;
}
#get-in-touch{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
#parallax {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../img/parallax-img.jpg');
  
    /* Set a specific height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }