#nav-item > .nav-item > .pad-left{
    padding-right: 40px;
}
#shopping_cart{
    position: absolute;
    left: 96%;
    top: 7%
}
#add_button{
    position: absolute;
    top: 65px;
    margin-left: 35%;
}